/O`Reilly. Head First - Head First Design Patterns - [Freeman].pdf
/O`Reilly. Head First - Head First Design Patterns 2nd Edition - [Freeman].pdf
/97-things-every-software-architect-should-know.pdf
/Design Patterns.pdf
/Revionics.White.Paper.[Software-as-a-Service-A Better.Approach.for.Retailers].pdf
